<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="hidePassword.js">
    <link rel="stylesheet" href="scaleLoginPages.css">
    <link rel="stylesheet" href="loginPage.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <title>LOGIN</title>
</head>

<body>
    <div id="wrapper">
        <form action="/login" method="POST" id="form-login">
            <h1 class="form-heading">Form đăng nhập</h1>
            <div class="form-group">
                <i class="far fa-user"></i>
                <input type="email" name="email" id="userNameLogin" class="form-input"  placeholder="Tên đăng nhập" required>
            </div>
            <div class="form-group">
                <i class="fas fa-key"></i>
                <input type="password" name="password"  id="passWordLogin" class="form-input"  placeholder="Mật khẩu" required>
                <div id="eye">
                    <i class="far fa-eye"></i>
                </div>
            </div>
            <button class="form-submit" type="submit" id="signInBtn">Đăng nhập</button> 
            <p>Bạn chưa có tài khoản? <a href="/register">Đăng ký ngay</a>.</p>
        </form>
    </div>
    
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="hidePassword.js"></script>
</html>
